Repository francoo27/give, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, server, repo-config

Update reglas-de-negocio.md (#32)
  documentation/reglas-de-negocio.md
Labels: documentation

nuevos riesgos (#28)
  README.md
  documentation/riesgos.md
Labels: documentation

test
  documentation/riesgos.md
Labels: documentation

Update reviewers.yml
  .github/reviewers.yml
Labels: repo-config

Update auto-assign.yml
  .github/workflows/auto-assign.yml
Labels: repo-config

Update auto-assign.yml
  .github/workflows/auto-assign.yml
Labels: repo-config

Update auto-assign.yml
  .github/workflows/auto-assign.yml
Labels: repo-config

Update auto-assign.yml
  .github/workflows/auto-assign.yml
Labels: repo-config

Update reviewers.yml
  .github/reviewers.yml
Labels: repo-config

Test (#35)
  .github/reviewers.yml
  .github/workflows/auto-assign.yml
  documentation/riesgos.md
Labels: documentation, repo-config

Rename reviewers.yml to auto_assign.yml
  .github/auto_assign.yml
Labels: repo-config

Update auto-assign.yml
  .github/workflows/auto-assign.yml
Labels: repo-config

Update auto-assign.yml
  .github/workflows/auto-assign.yml
Labels: repo-config

Update auto-assign.yml
  .github/workflows/auto-assign.yml
Labels: repo-config

Francoo27 patch 1 (#40)
  .github/auto_assign.yml
  .github/workflows/auto-assign.yml
Labels: repo-config

gantt
  documentation/gantt.md
Labels: documentation

added to readme
  README.md
Labels: none

added readme
  Server/README.md
Labels: none

.github/labeler.yml:

documentation:
- "documentation/**"

server:
- "server/**"

repo-config:
- ".github/**"
