Repository francoo27/give, pull requests merged in 2023-09, with the labels that each got.

#9 Linking - Reglas de negocio
  documentation/CU-crear-campaña.md
  documentation/reglas-de-negocio.md
Labels: enhancement

#8 Glosario
  documentation/glosario.md
Labels: documentation

#7 Maquina de estados - Campaña
  documentation/maquina-de-estados-campaña.md
  documentation/templates/caso-de-uso-template.md
Labels: documentation

#10 CU Editar campaña
  documentation/CU-editar-campaña.md
  documentation/casos-de-uso-resumen.md
  documentation/reglas-de-negocio.md
Labels: documentation

#6 CU Pausar campaña
  documentation/CU-pausar-campaña.md
  documentation/reglas-de-negocio.md
Labels: documentation

#12 CU Informar avance proyecto
  documentation/CU-informar-avance-campaña.md
  documentation/glosario.md
  documentation/reglas-de-negocio.md
Labels: documentation

#14 Donar a campaña
  documentation/CU-donar-a-campaña.md
  documentation/CU-donar-a-suscripcion
  documentation/CU-pagos-aumaticos.md
  documentation/reglas-de-negocio.md
Labels: documentation

#20 Update README.md
  README.md
Labels: documentation, enhancement

#31 Agregar reviewers automáticamente
  .github/reviewers.yml
  .github/workflows/auto-assign.yml
Labels: repo-config

#30 Fix dotnet action
  .github/workflows/dotnet.yml
Labels: repo-config

#29 Labeler
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: repo-config

#32 Update reglas-de-negocio.md
  documentation/reglas-de-negocio.md
Labels: documentation

#28 Nuevos riesgos
  README.md
  documentation/riesgos.md
Labels: documentation

#35 Test
  .github/reviewers.yml
  .github/workflows/auto-assign.yml
  documentation/riesgos.md
Labels: documentation, repo-config

#40 Francoo27 patch 1
  .github/auto_assign.yml
  .github/workflows/auto-assign.yml
Labels: repo-config

#43 Update labeler.yml
  .github/labeler.yml
Labels: repo-config

#41 Gantt
  README.md
  documentation/gantt.md
Labels: documentation
